<div id="box" class="container-fluid slide">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="page-header">
            <h2>Homer</h2>
        </div> 
        <img class="img-responsive" src="styles/images/homer.gif" alt=""/>
    </div>            
    <div class="col-xs-8 col-xs-offset-2">
        <div class="page-header">
            <h2>Raymond James Financial, Inc</h2>
        </div> 
        <img class="img-responsive" src="styles/images/rayj.gif" alt=""/>
    </div>
    <div class="col-xs-8 col-xs-offset-2">
        <div class="page-header">
            <h2>SolidX</h2>
        </div> 
        <img class="img-responsive" src="styles/images/solidx.gif" alt=""/>
    </div>
  </div>
</div>