<div id="box" class="container slide">
  <h1>Recent Work</h1>
  <hr>
  <div class="row">

            <div class="col-xs-12">
                <div class="page-header">
                    <h2>Raymond James Financial, Inc</h2>
                </div> 
                <a class="" href="#">
                    <img class="img-responsive" src="styles/images/rj.gif" alt="" height="100%" width="100%">
                </a>
            </div>
            <div class="col-xs-12">
                <div class="page-header">
                    <h2>Homer</h2>
                </div> 
                <a class="" href="#">
                    <img class="img-responsive" src="styles/images/homer.gif" alt="" height="100%" width="100%">
                </a>
            </div>            
            <div class="col-xs-12">
                <div class="page-header">
                    <h2>SolidX</h2>
                </div> 
                <a class="" href="#">
                    <img class="img-responsive" src="styles/images/sldx.gif" alt="" height="100%" width="100%">
                </a>
            </div>

        </div>
</div>